<div class="auth">
    <div>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <p>
                <label> Enter email address
                    <input type="text" name="email" (ngModel)="email" requred>
                </label>
            </p>
            <p>
            <label> Password
                <input type="password" name="password" (ngModel)="password" required>
            </label>
            </p>
    
            <button type="submit" [disabled]="!formData.valid">Register</button>
            <a routerLink="/login">Login</a>
        </form>
        
    </div>
    <br>
  <div>
      {{message}}
  </div>
  </div>
  
  
  
  
  
  


