<div class="auth">
    <div>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <p>

                    <input placeholder="email" type="text" name="email" (ngModel)="email" requred>

            </p>
            <p>


                <input placeholder="password" type="text" name="password" (ngModel)="password" required>

            </p>

            <button type="submit" [disabled]="!formData.valid">Register</button>
            <a routerLink="/login">Login</a>
        </form>

    </div>
    <br>
  <div>
      {{message}}
  </div>
  </div>








