<!-- <div *ngIf="errorMessage">Error:: {{errorMessage}}</div> -->

<div class="cards" *ngIf="cards.length > 0">
      <div dropDirective (dropEvent)="addDropItem($event, card)" class="am-card droppable" [dropHighlight]="'highlight'"
           *ngFor="let card of cards; let i = index; trackBy card?.card_Id">
          <div class="card-header" *ngIf="!hideme[card.card_Id]">
            <span (click)="toggleEditTitle(card.card_Id)">{{card.name}}</span>

            <div class="header-button" *ngIf="!hideme[card.sort_Order]">

              <i class="material-icons" (click)="hideme[card.sort_Order] = !hideme[card.sort_Order]">add</i>
              <ul [attr.id]="card.card_Id" class="dropdown-content">
                <li><span (click)="deleteCard(card.card_Id, card.name, i)">Delete</span></li>
                <li><span (click)="toggleEditTitle(card.card_Id)">Edit</span></li>
              </ul>
              <a materialize="dropdown" [materializeParams]="[{hover: true}]" class="dropdown-button" [attr.data-activates]="card.card_Id"><i class="material-icons">arrow_drop_down</i></a>

            </div>

          </div>
          <div class="card-header"*ngIf="hideme[card.card_Id]">
             <div class="header-item">

                 <input autofocus #namebox class="input12" [(ngModel)]="card.name"  (keyup.enter)="onEnter({'namebox': namebox.value, 'cardid': cardid.value});toggleEditTitle(card.card_Id);">

               <div class="header-button" (click)="toggleEditTitle(card.card_Id)"><i class="material-icons right">close</i></div>
             </div>

             <input type="hidden" #cardid [value]="card.card_Id" >
          </div>

        <!-- <div [attr.title]="card.card_Id" class="items"[dragula]="bagOne" [dragulaModel]='card.items'> -->
        <div>
          <div class="item-form" *ngIf="hideme[card.sort_Order]">
            <form (ngSubmit)="onSubmit(itemForm, card)" #itemForm="ngForm">
              <input name="title" id="title" type="text" ngModel required>
              <input type="hidden" name="card_Id" id="card_Id" [(ngModel)]="card.card_Id">
              <input name ="sort_order" id="sort_order" type="hidden" [(ngModel)]="card.sort_Order">
               <button type="submit" class="waves-effect waves-light btn" [disabled]="!itemForm.form.valid">Add</button>
               <button  (click)="hideme[card.sort_Order] = !hideme[card.sort_Order]">Discard</button>
            </form>
          </div>

            <div [dragDirective]='item' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event, card)" class="dragItem"
                 (click)="openItem(item, i, card)" [attr.id]="item.item_Id" [attr.title]="i" class="card-item" *ngFor="let item of card.items; let i = index; trackBy item?.item_Id">
              <item [item]="item" [index]="i"></item>
            </div>

        </div>

    </div>
      <div class="btn-card-add" (click)="addNew()">
          +
      </div>
     <div class="spacer"></div>

</div>

      <app-dialog [(visible)]="itemDlgIsOpen" [newTitle]="itemDlgTitle" [width_size]="'90%'">

        <div class="row" sytle="overflow: auto;">
          <div class="col s6"  style="margin-left: 50px">

            <div class="row">
              <div class="col s12">

                <div class="row">
                    
                    <form class="col s12">
                        <label>Title</label>
                      <div class="row">
                        <div class="input-field col s6">
                            <input debounce [delay]="700" (onKeyupEmit)="onTitleUpdate($event)" [(ngModel)]="itemTitle" name="itemtitle" id="itemtitle" type="text">
                        </div>
                      </div>
                      <label>Description</label>
                      <div id="row">
                          <div class="input-field col s12">
                              
                            <textarea debounce [delay]="700" (onKeyupEmit)="onTextUpdate($event)" name="description" id="textAreaDescription" [(ngModel)]="textDescription" class="materialize-textarea"></textarea>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
            <div class="row" style="margin-top: 80px">
              <label>Attachments</label>
              <br>
              <div class="chip" *ngFor="let media of itemAttachments; let i = index; trackBy media?.media_Data_Id">
                 <a class="hover-pointer" (click)="downloadFile(media.filename, media.file_Extension, media.media_Data_Id)">
                    {{media.filename}}
                 </a> 
                  <i class="close material-icons" (click)="removeMediaAttachment(media.item_Media_Data_Id)">close</i>
              </div>
            </div>

          </div>
          <div class="col s4">
            <div class="collection">
              <a class="collection-item btn-flat" (click)="ArchiveItem()" >
                Archive
              </a>
              <a class="collection-item btn-flat" (click)="toggleDate()">
                    <span [style.color]="btnDateText != 'Close' ? '#26a69a' : '#d9534f'">{{btnDateText}}</span>

                <label class="float-right" *ngIf="date != '1/1/1'">{{date}}</label>
                <my-date-picker style="position:fixed; margin-left:30px" *ngIf="showDatePicker" [options]="myDatePickerOptions"  (dateChanged)="onDateChanged($event)"></my-date-picker>
              </a>
              <a class="collection-item btn-flat" (click)="toggleUpload()">
                <span [style.color]="uploadText == 'Upload' ? '#26a69a' : '#d9534f'">
                  {{uploadText}}
                </span>
              </a>
            </div>
            <div *ngIf="showUploadInput">
                <upload [itemId]="fileUploadParam.itemId" ></upload> 
            </div>
          </div>
        </div>

      </app-dialog>



