<div class="auth">
  <div>
    <form #formData='ngForm' (ngSubmit)="loginPassword(formData)">
        <p>
            <label> Enter email address
                <input type="text" name="email" (ngModel)="email" requred>
            </label>
        </p>
        <p>
            <label> Password 

                <input type="text" name="password" (ngModel)="password" required>
            </label>
        </p>

        <button type="submit" [disabled]="!formData.valid">Login</button>

        <p>

        </p>

    </form>
  </div>
  <div>
    <button (click)="loginGoogle()">Login with Google</button>
  </div>
  <br>
    <div>
        <a routerLink="/reset">Reset password</a>
        
    </div>
    <div>
        <a routerLink="/signup">Register</a>
    </div>
</div>





