<div class="auth">
  <div>
    <form #formData='ngForm' (ngSubmit)="loginPassword(formData)">
        <p>
                <input placeholder="email" type="text" name="email" (ngModel)="email" requred>
        </p>
        <p>


                <input type="text" placeholder="password" name="password" (ngModel)="password" required>

        </p>

        <button type="submit" [disabled]="!formData.valid">Login</button>

        <p>

        </p>

    </form>
  </div>
  <div>
    <button (click)="loginGoogle()">Login with Google</button>
  </div>
  <br>
    <div>
        <a routerLink="/reset">Reset password</a>

    </div>
    <div>
        <a routerLink="/signup">Register</a>
    </div>
</div>





