<div>

<!--<input type="file"
       ngFileSelect
       [options]="options"
       (onUpload)="handleUpload($event)"
       (beforeUpload)="beforeUpload($event)">
  <img src={{uploadFile}} width="100" height="100"/>     -->
<hr />
  <h3>Test Area For Now</h3>

  <!-- <img src="api/account/GetImageByAccountId/12345" alt="" /> -->
<h3 style="text-align: center">
  Someday is the day that never happens. If your day becomes Someday then this app is for you!
</h3>
<hr />
<h4>{{title}}</h4>
<!-- ******* U P L O A D <upload [param]="{itemId:'sampleItemIdddd'}"></upload> *******-->
<input debounce [delay]="700" (onKeyupEmit)="onTextUpdate($event)" [(ngModel)]="title">
<!-- [(ngModel)]="textDescription" -->




<!--<p-slider [(ngModel)]="val"></p-slider>
<p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>-->
<!--
<button (click)="onTestBoardCards()">Go to Board</button>
<a [routerLink]="['board', '2b6aa40b-84b6-4088-99e9-1aa96f093572']">Board</a>-->

<button (click)="showDialog = !showDialog" class="btn">Open</button>
<p>
  this is true oko oko
</p>
<app-dialog [(visible)]="showDialog" [newTitle]="'Create Board'">
  <h1>Hello World</h1>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>


</div>